
genero/.vs/genero/v15/Server/sqlite3/storage.ide-wal
genero/.vs/genero/v15/Server/sqlite3/storage.ide-shm
genero/.vs/genero/v15/Server/sqlite3/storage.ide
genero/.vs/genero/v15/Server/sqlite3/db.lock
